@define-color fg #eeff96;
@define-color bg #292640;
@define-color active #d9ed00;
@define-color active-dark #b3ca00;
@define-color visible #77c6a9;
@define-color visible-dark #53e0ad;
@define-color bg-light #34353e;
@define-color bg-lighter #594671;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Symbols Nerd Font Mono", Roboto;
  font-size: 13px;
}

big {
  font-size: 80px;
  font-style: normal;
  margin-right: 20px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.fullscreen {
  background-color: #ee508a;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @fg;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

tooltip {
  background: rgba(41, 38, 64, 0.9);
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: @bg-light;
  box-shadow: none;
}

#workspaces button {
  padding: 0px 4px;
  margin: 5px 2px;
  color: @fg;
  background-color: @bg-lighter;
  border-radius: 40px;
}

#workspaces button.empty {
  background-color: transparent;
  color: @bg-lighter;
}

#workspaces button.visible {
  background-color: @visible;
  color: @bg;
}

#workspaces button.visible:hover {
  background-color: @visible-dark;
}

#workspaces button.active {
  background-color: @active;
  color: @bg;
}

#workspaces button.active:hover {
  background-color: @active-dark;
}

#workspaces button.focused {
  background-color: #ff0000;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:hover {
  background: @bg-light;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid @fg;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  color: @fg;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  background-color: transparent;
  color: @fg;
}

#battery.charging,
#battery.plugged {
  color: @fg;
  background-color: transparent;
}

@keyframes blink {
  to {
    background-color: @fg;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #2ecc71;
}

#memory {
  color: #9b59b6;
}

#disk {
  color: #964b00;
}

#backlight {
  color: #90b1b1;
}

#network {
  color: #2980b9;
}

#network.disconnected {
  color: #f53c3c;
}

#pulseaudio {
  background-color: transparent;
  color: @fg;
}

#pulseaudio.muted {
  background-color: @active;
  color: #2a5c45;
}

#wireplumber {
  background-color: transparent;
  color: @fg;
}

#wireplumber.muted {
  background-color: @active;
}

#custom-media {
  color: #66cc99;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: #66cc99;
}

#custom-media.custom-vlc {
  color: #ffa000;
}

#temperature {
  color: #f0932b;
}

#temperature.critical {
  color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
